@using AutoROFL.ViewModels
@model ChangePasswordViewModel

<div>
    <h2 style="margin-left:500px; margin-top:70px">Личный кабинет</h2>
    <hr>
    <div class="row" style="margin-left:50px">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item mt-1"><a class="btn btn-primary" asp-controller="User" asp-action="Profile" >Профиль</a></li>
                <li class="nav-item mt-1"><a class="btn btn-primary" asp-controller="User" asp-action="PurchaseHistory">История покупок</a></li>
                <li class="nav-item mt-1"><a class="btn btn-primary" asp-controller="User" asp-action="Email" >Изменить Email</a></li>
                <li class="nav-item mt-1"><a class="btn btn-primary" asp-controller="User" asp-action="Password" type="submit">Изменить пароль</a></li>
                @*<li class="nav-item"><a class="nav-link" id="two-factor" href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>*@
                <li class="nav-item mt-1"><a class="btn btn-primary" asp-controller="User" asp-action="DeleteAccount">Удалить аккаунт</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            
            <h3>Изменить пароль</h3>


            <div class="row">
                <div class="col-md-6">
                        <form method="post" asp-controller="User" asp-action="Password">
                            @if (Model.isChangePassword)
                            {
                                if (Model.isValidPassword)
                                {
                                    <div class="alert alert-success" role="alert">
                                      Вы успешно изменили свой пароль. Используйте его при входе в аккаунт.
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                      Новый пароль должен содержать:
                                      <ul>
                                          <li>Не меньше 6-ти символов</li>
                                          <li>Должен быть один не буквено-цифровой символ</li>
                                          <li>Должна быть одна заглавная буква</li>
                                          <li>Должна быть одна цифра</li>
                                      </ul>
                                      Проверьте правильность введенного старого пароля
                                    </div>
                                }
                            }
                            <div class="form-floating mt-1">
                                <input class="form-control" type="password" asp-for="OldPassword">
                                <label class="form-label" asp-for="OldPassword">Старый пароль</label>
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                            <div class="form-floating mt-1">
                                <input class="form-control" type="password"  data-val-length-max="100" data-val-length-min="6" maxlength="100" asp-for="NewPassword">
                                <label class="form-label" asp-for="NewPassword">Новый пароль</label>
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="form-floating mt-1">
                                <input class="form-control" type="password" id="Input_ConfirmPassword" asp-for="NewPasswordConfirm">
                                <label class="form-label" asp-for="NewPasswordConfirm">Подтвердите новый пароль</label>
                                <span asp-validation-for="NewPasswordConfirm"></span>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary mt-1">Изменить пароль</button>
                        </form>
                </div>
            </div>


        </div>
    </div>
</div>
